<html xmlns:th="http://thymeleaf.org">
<head th:replace="layouts:: head"></head>


<body  th:style="'background: url(/images/blueline.png); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;'">

<header th:replace="layouts:: header"></header>
<nav th:replace="layouts:: nav"></nav>

<div class="container">
    <h3>Projects Directory</h3>
    <hr>

    <a th:href="@{/projects/new}" class="btn btn-primary btn-sm mb-3">Save New Project</a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Project Name</th>
            <th>Project Stage</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aProject : ${projects}">
            <td th:text="${aProject.name}"/>
            <td th:text="${aProject.stage}"/>
        </tr>

        </tbody>

    </table>


</div>

</body>
</html>